body{
	background: url('../img/shop/bg.png');
}
a{
	text-decoration: none !important;
}

.section-heading{
	font-family: $primary-font;
}

.heading-margin{
	margin: $heading-margin;
}

.textshadow-light{
	text-shadow: 2px 1px $faded-primary;
}

.textshadow-dark{
	text-shadow: 2px 1px $primary-color;
}