@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$primary-color: #311b0e;
$secondary-color: #5e4423;

//------ fonts -----//
$primary-font: 'Pacifico', cursive;
$secondary-font: 'Roboto Condensed', sans-serif;

$heading-margin: 40px;