/* line 1, ../sass/base/_base.scss */
body {
  background: url("../img/shop/bg.png");
}

/* line 4, ../sass/base/_base.scss */
a {
  text-decoration: none !important;
}

/* line 8, ../sass/base/_base.scss */
.section-heading {
  font-family: 'Macondo', cursive;
  margin: 15px;
}

/* line 2, ../sass/module/_coffeeblog.scss */
.coffeeblog .btn-readmore {
  padding: 20px;
  margin-bottom: 60px;
}
/* line 6, ../sass/module/_coffeeblog.scss */
.coffeeblog .thumbnail:hover {
  box-shadow: 0px 5px 20px 5px gray;
  transition: 0.8s;
  transform: scale(1.02);
}

/* line 12, ../sass/module/_coffeeblog.scss */
.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

/* line 18, ../sass/module/_coffeeblog.scss */
.action-button {
  padding: 10px 30px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 15px;
  color: #FFF;
  text-decoration: none;
}

/* line 28, ../sass/module/_coffeeblog.scss */
.action-button:hover {
  color: #5e4423;
  background-color: #e5e5e5;
  border-bottom: 5px solid #292929;
  text-shadow: none;
}

/* line 35, ../sass/module/_coffeeblog.scss */
.coffee-color {
  background-color: #5e4423;
  border-bottom: 5px solid #3a2306;
  text-shadow: 0px -2px #3a2306;
}

/* line 42, ../sass/module/_coffeeblog.scss */
.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}

/* line 1, ../sass/module/_goodReading.scss */
#hero1 {
  background: url("../img/goodreading.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

/* line 12, ../sass/module/_goodReading.scss */
.hero, .content {
  text-align: center;
  position: relative;
  width: 100%;
}

/* line 18, ../sass/module/_goodReading.scss */
.inner {
  min-height: 600px;
  position: relative;
}

/* line 23, ../sass/module/_goodReading.scss */
.hero .inner {
  background: rgba(0, 0, 0, 0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
  overflow: hidden;
}

/* line 28, ../sass/module/_goodReading.scss */
.hero h1, .hero p {
  color: #fff;
}

/* line 31, ../sass/module/_goodReading.scss */
.carousel {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
}

/* line 36, ../sass/module/_goodReading.scss */
.md--reading {
  font-size: 1.7em;
}

@media screen and (max-width: 1000px) {
  /* line 41, ../sass/module/_goodReading.scss */
  .md--reading {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 700px) {
  /* line 47, ../sass/module/_goodReading.scss */
  .md--reading {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 500px) {
  /* line 53, ../sass/module/_goodReading.scss */
  .md--reading {
    font-size: 1.2em;
    line-height: 1.1em;
  }
}
@media screen and (max-width: 350px) {
  /* line 60, ../sass/module/_goodReading.scss */
  .md--reading {
    font-size: 1em;
    line-height: 1em;
  }
}
/* line 1, ../sass/module/_header.scss */
.header-video {
  line-height: 0px;
}
/* line 3, ../sass/module/_header.scss */
.header-video video {
  width: 100%;
}

/* line 7, ../sass/module/_header.scss */
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

/* line 13, ../sass/module/_header.scss */
.navbar {
  margin-bottom: 0px;
  border-radius: 0 !important;
}

/* line 17, ../sass/module/_header.scss */
.navbar-inverse {
  background-color: #3a2306 !important;
}

/* line 21, ../sass/module/_header.scss */
.affix ~ .navfix-management {
  position: relative;
  top: 60px;
}

/* line 1, ../sass/module/_shop.scss */
.coffeeShop {
  background: #292929;
  padding-top: 20px;
  padding-bottom: 30px;
}
/* line 5, ../sass/module/_shop.scss */
.coffeeShop .section-heading {
  color: #fff;
}

/* line 10, ../sass/module/_shop.scss */
.shop {
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: #fff;
}

/* line 16, ../sass/module/_shop.scss */
.shop--detail {
  color: grey;
  font-size: 18px;
  padding: 10px;
}

/* line 22, ../sass/module/_shop.scss */
.shop--contact {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #3a2306;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

/* line 35, ../sass/module/_shop.scss */
.shop--contact:hover, a:hover {
  transition: 0.5s;
  opacity: 0.7;
}

/* Hover Card 
.......................................................................*/
/* line 3, ../sass/module/_beans.scss */
div.catCard {
  border: solid 5px #e9e9e9;
  background: #d8d8d8;
  height: 400px;
  display: block;
  position: relative;
  overflow: hidden;
}

/* line 11, ../sass/module/_beans.scss */
div.lowerCatCard {
  position: absolute;
  background: #e9e9e9;
  padding: 5px 5px;
  height: 200px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

/* line 21, ../sass/module/_beans.scss */
div.lowerCatCard:hover {
  opacity: 0.95;
  bottom: 0;
  height: 390px;
}

/* line 26, ../sass/module/_beans.scss */
div.catCard div.lowerCatCard {
  left: 0;
  bottom: -3%;
}

/* line 30, ../sass/module/_beans.scss */
div.catCard:hover div.lowerCatCard {
  bottom: 0;
}

/* line 33, ../sass/module/_beans.scss */
li.catCardList {
  list-style-type: none;
  display: block;
  margin-top: 25px;
}

/* line 38, ../sass/module/_beans.scss */
li.catCardList-last {
  margin-right: 0;
  width: 225px;
  display: inline-block;
}

/* line 43, ../sass/module/_beans.scss */
ul.catCardList {
  padding: 10px;
}

/* line 46, ../sass/module/_beans.scss */
#catCardButton {
  position: absolute;
  width: 100%;
  bottom: 5px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

/* line 54, ../sass/module/_beans.scss */
div.lowerCatCard:hover #catCardButton {
  bottom: 5px;
}

/* line 57, ../sass/module/_beans.scss */
.startingPrice span {
  font-size: 16px;
  color: #c90c12;
  font-weight: 300;
}

/* line 62, ../sass/module/_beans.scss */
div.startingPrice {
  margin-bottom: 5px;
  color: #000;
  font-weight: 300;
}

/* line 67, ../sass/module/_beans.scss */
.catCard img {
  border: 1px solid #dddddd;
  width: 100%;
}

/* line 71, ../sass/module/_beans.scss */
.catCard img:hover {
  border: 1px solid #bababa;
}

/* Button 
.......................................................................*/
/* line 77, ../sass/module/_beans.scss */
.beans-btn {
  cursor: pointer;
  font-size: 14px !important;
  color: #ffffff;
  padding: 7px 10px !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  letter-spacing: 0 !important;
  background: #3a2306;
  border: none;
  border-bottom: solid 5px #5e4423;
  text-align: center;
  margin-top: 10px;
}

/* line 91, ../sass/module/_beans.scss */
.beans-btn:hover {
  background-color: #5e4423;
  border: none;
  border-bottom: solid 1px #000;
  box-shadow: 0 2px 3px #a8a8a8;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  -ms-transform: scale(1.04);
}

/* line 103, ../sass/module/_beans.scss */
.beans-btn a {
  color: #ffffff;
  padding: 7px 30px !important;
  text-decoration: none;
}

/* line 108, ../sass/module/_beans.scss */
.beans-btn a:hover {
  color: #ffffff;
}

/* line 111, ../sass/module/_beans.scss */
.beans-btn:hover {
  color: #fff;
}

/* line 1, ../sass/module/_footer.scss */
footer.nb-footer {
  background: #222;
  border-top: 4px solid #5e4423;
}

/* line 6, ../sass/module/_footer.scss */
footer.nb-footer .about {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1170px;
  text-align: center;
}

/* line 13, ../sass/module/_footer.scss */
footer.nb-footer .about p {
  font-size: 13px;
  color: #999;
  margin-top: 30px;
}

/* line 19, ../sass/module/_footer.scss */
footer.nb-footer .about .social-media {
  margin-top: 15px;
}

/* line 23, ../sass/module/_footer.scss */
footer.nb-footer .about .social-media ul li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 16px;
  color: #5e4423;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* line 34, ../sass/module/_footer.scss */
footer.nb-footer .about .social-media ul li a:hover {
  background: #5e4423;
  color: #fff;
  border-color: #5e4423;
}

/* line 40, ../sass/module/_footer.scss */
footer.nb-footer .footer-info-single {
  margin-top: 30px;
}

/* line 44, ../sass/module/_footer.scss */
footer.nb-footer .footer-info-single .title {
  color: #aaa;
  text-transform: uppercase;
  font-size: 16px;
  border-left: 4px solid #5e4423;
  padding-left: 5px;
}

/* line 52, ../sass/module/_footer.scss */
footer.nb-footer .footer-info-single ul li a {
  display: block;
  color: #aaa;
  padding: 2px 0;
}

/* line 58, ../sass/module/_footer.scss */
footer.nb-footer .footer-info-single ul li a:hover {
  color: #5e4423;
}

/* line 62, ../sass/module/_footer.scss */
footer.nb-footer .footer-info-single p {
  font-size: 13px;
  line-height: 20px;
  color: #aaa;
}

/* line 68, ../sass/module/_footer.scss */
footer.nb-footer .copyright {
  margin-top: 15px;
  background: #111;
  padding: 7px 0;
  color: #999;
}

/* line 75, ../sass/module/_footer.scss */
footer.nb-footer .copyright p {
  margin: 0;
  padding: 0;
}
