@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
/* line 1, ../sass/base/_base.scss */
body {
  background: url("../img/shop/bg.png");
}

/* line 4, ../sass/base/_base.scss */
a {
  text-decoration: none !important;
}

/* line 9, ../sass/base/_base.scss */
.section-heading {
  font-family: "Pacifico", cursive;
}

/* line 13, ../sass/base/_base.scss */
.heading-margin {
  margin: 40px;
}

/* line 17, ../sass/base/_base.scss */
.extra-margin {
  margin: 80px;
}

/* line 22, ../sass/base/_base.scss */
.textshadow-light {
  text-shadow: 2px 1px #c2a96f;
}

/* line 26, ../sass/base/_base.scss */
.textshadow-dark {
  text-shadow: 2px 1px #311b0e;
}

/* line 31, ../sass/base/_base.scss */
.btn-readmore {
  padding: 10px;
  margin: 20px 0px 60px 0px;
}

/* line 36, ../sass/base/_base.scss */
.action-button {
  padding: 8px 25px;
  border-radius: 10px;
  font-family: "Pacifico", cursive;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
}
/* line 44, ../sass/base/_base.scss */
.action-button:hover {
  color: white;
  background-color: #5e4423;
  border-bottom: 5px solid #292929;
  text-shadow: none;
}
/* line 50, ../sass/base/_base.scss */
.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}
/* line 55, ../sass/base/_base.scss */
.action-button:focus {
  color: white;
  background-color: #5e4423;
}

/* line 2, ../sass/module/_coffeeblog.scss */
.coffeeblog .thumbnail {
  transition: all 0.3s ease-in-out;
}
/* line 5, ../sass/module/_coffeeblog.scss */
.coffeeblog .thumbnail:hover {
  box-shadow: 0px 5px 20px 5px gray;
  transform: scale(1.02);
}

/* line 10, ../sass/module/_coffeeblog.scss */
.animate {
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s;
}

/* line 16, ../sass/module/_coffeeblog.scss */
.coffee-color {
  background-color: #5e4423;
  border-bottom: 5px solid #3a2306;
  text-shadow: 0px -2px #3a2306;
}

/* line 1, ../sass/module/_goodReading.scss */
#hero1 {
  background: url("../img/goodreading.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

/* line 12, ../sass/module/_goodReading.scss */
.hero, .content {
  position: relative;
  width: 100%;
}

/* line 17, ../sass/module/_goodReading.scss */
.inner {
  min-height: 400px;
  position: relative;
}

/* line 22, ../sass/module/_goodReading.scss */
.hero .inner {
  background: rgba(0, 0, 0, 0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
  overflow: hidden;
}

/* line 26, ../sass/module/_goodReading.scss */
.hero p {
  color: #fff;
}

/* line 30, ../sass/module/_goodReading.scss */
.carousel-indicators .active {
  background: #31708f;
}

/* line 34, ../sass/module/_goodReading.scss */
.adjust1 {
  float: left;
  width: 100%;
  margin-bottom: 0;
}

/* line 40, ../sass/module/_goodReading.scss */
.adjust2 {
  margin: 0;
}

/* line 44, ../sass/module/_goodReading.scss */
.carousel-indicators li {
  border: 1px solid #ccc;
}

/* line 48, ../sass/module/_goodReading.scss */
.carousel-control {
  color: #31708f;
  width: 5%;
}

/* line 53, ../sass/module/_goodReading.scss */
.carousel-control:hover,
.carousel-control:focus {
  color: #31708f;
}

/* line 58, ../sass/module/_goodReading.scss */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* line 63, ../sass/module/_goodReading.scss */
.media-object {
  margin: auto;
  margin-top: 15%;
}

/* line 67, ../sass/module/_goodReading.scss */
.fa-arrow-right {
  position: absolute;
  top: 50%;
  right: 0%;
  z-index: 5;
  display: inline-block;
}

/* line 74, ../sass/module/_goodReading.scss */
.fa-arrow-left {
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: 5;
  display: inline-block;
}

/* line 82, ../sass/module/_goodReading.scss */
.maintain-text {
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  /* line 86, ../sass/module/_goodReading.scss */
  .media-object {
    margin-top: 0;
  }

  /* line 89, ../sass/module/_goodReading.scss */
  .maintain-text {
    padding-top: 0px;
  }
}
@media screen and (min-width: 768px) {
  /* line 94, ../sass/module/_goodReading.scss */
  .md--testa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
/* line 1, ../sass/module/_header.scss */
.header-video {
  line-height: 0px;
}
/* line 3, ../sass/module/_header.scss */
.header-video video {
  width: 100%;
}

/* line 8, ../sass/module/_header.scss */
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

/* line 14, ../sass/module/_header.scss */
.navbar {
  margin-bottom: 0px;
  border-radius: 0 !important;
}
/* line 17, ../sass/module/_header.scss */
.navbar-brand {
  font-family: "Roboto Condensed", sans-serif;
  color: white !important;
}
/* line 21, ../sass/module/_header.scss */
.navbar-inverse {
  background-color: #311b0e !important;
}
/* line 23, ../sass/module/_header.scss */
.navbar-inverse li a {
  font-family: "Roboto Condensed", sans-serif;
  color: white !important;
}

/* line 30, ../sass/module/_header.scss */
.affix ~ .navfix-management {
  position: relative;
  top: 60px;
}

/* line 1, ../sass/module/_gallery.scss */
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
  overflow: hidden;
}

/* line 12, ../sass/module/_gallery.scss */
.gallery img {
  width: 100%;
  height: auto;
  transition: 500ms;
  margin-bottom: 10px;
  opacity: 0.8;
  page-break-inside: avoid;
  /* For Firefox. */
  -webkit-column-break-inside: avoid;
  /* For Chrome & friends. */
  break-inside: avoid;
  /* For standard browsers like IE. :-) */
}

/* line 23, ../sass/module/_gallery.scss */
.gallery img:hover {
  opacity: 1;
}

/* line 27, ../sass/module/_gallery.scss */
.modal-img, .model-vid {
  width: 100%;
  height: auto;
}

/* line 31, ../sass/module/_gallery.scss */
.modal-body {
  padding: 0px;
}

/* line 35, ../sass/module/_gallery.scss */
.modal-dialog {
  text-align: center;
  vertical-align: middle;
  display: block;
  top: 15%;
}

/* line 42, ../sass/module/_gallery.scss */
.modal-content {
  border: none;
}

@media screen and (max-width: 767px) {
  /* line 47, ../sass/module/_gallery.scss */
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  /* line 52, ../sass/module/_gallery.scss */
  .gallery div {
    margin: 0;
    width: 200px;
  }
}
@media screen and (max-width: 479px) {
  /* line 58, ../sass/module/_gallery.scss */
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  /* line 63, ../sass/module/_gallery.scss */
  .gallery div {
    margin: 0;
    width: 200px;
  }
}
/* line 1, ../sass/module/_shop.scss */
.coffeeShop {
  background: #311b0e;
  padding-top: 20px;
  padding-bottom: 30px;
}
/* line 5, ../sass/module/_shop.scss */
.coffeeShop .section-heading {
  color: #fff;
}

/* line 10, ../sass/module/_shop.scss */
.shop {
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  margin-bottom: 40px;
}
/* line 14, ../sass/module/_shop.scss */
.shop h3 {
  padding-left: 20px;
}
/* line 17, ../sass/module/_shop.scss */
.shop ul {
  list-style-type: none;
  padding-left: 20px;
  line-height: 2em;
}
/* line 21, ../sass/module/_shop.scss */
.shop ul button {
  margin-top: 5px;
  border-top-right-radius: 10px;
  text-decoration: none;
  outline: none;
  background: #311b0e;
  border: 0;
  color: #fff;
  padding: 0px 8px 0px 8px;
  border: 1px solid #000;
  transition: 0.2s;
}
/* line 33, ../sass/module/_shop.scss */
.shop ul button:hover {
  background: #fff;
  border: 1px solid #000;
  color: #311b0e;
}

/* line 41, ../sass/module/_shop.scss */
.shop--detail {
  color: grey;
}

/* line 45, ../sass/module/_shop.scss */
.shop--contact {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #5e4423;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-family: "Pacifico", cursive;
  font-size: 18px;
}

/* line 59, ../sass/module/_shop.scss */
.shop--contact:hover {
  background-color: #c2a96f;
  color: #311b0e;
}

/* line 64, ../sass/module/_shop.scss */
.shop--contact:hover, a:hover {
  transition: 0.5s;
  opacity: 0.7;
}

/* line 1, ../sass/module/_beans.scss */
.beans {
  padding: 20px;
}

/* line 5, ../sass/module/_beans.scss */
.beans-contain {
  margin-bottom: 40px;
}

/* Hover Card 
.......................................................................*/
/* line 11, ../sass/module/_beans.scss */
div.catCard {
  border: solid 2px #c2a96f;
  background: #d8d8d8;
  height: 400px;
  display: block;
  position: relative;
  overflow: hidden;
}

/* line 19, ../sass/module/_beans.scss */
div.lowerCatCard {
  position: absolute;
  background: white;
  height: 200px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
/* line 27, ../sass/module/_beans.scss */
div.lowerCatCard h3, div.lowerCatCard p {
  padding-left: 5px;
}

/* line 31, ../sass/module/_beans.scss */
div.lowerCatCard:hover {
  opacity: 0.95;
  bottom: 0;
  height: 395px;
}

/* line 36, ../sass/module/_beans.scss */
div.catCard div.lowerCatCard {
  left: 0;
  bottom: -3%;
}

/* line 40, ../sass/module/_beans.scss */
div.catCard:hover div.lowerCatCard {
  bottom: 0;
}

/* line 43, ../sass/module/_beans.scss */
li.catCardList {
  list-style-type: none;
  display: block;
  margin-top: 25px;
}

/* line 48, ../sass/module/_beans.scss */
li.catCardList-last {
  margin-right: 0;
  width: 225px;
  display: inline-block;
}

/* line 53, ../sass/module/_beans.scss */
ul.catCardList {
  padding: 10px;
}

/* line 56, ../sass/module/_beans.scss */
#catCardButton {
  position: absolute;
  width: 100%;
  bottom: 5px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

/* line 64, ../sass/module/_beans.scss */
div.lowerCatCard:hover #catCardButton {
  bottom: 5px;
}

/* line 67, ../sass/module/_beans.scss */
.startingPrice span {
  font-size: 16px;
  color: #c90c12;
  font-weight: 300;
}

/* line 72, ../sass/module/_beans.scss */
div.startingPrice {
  margin-bottom: 5px;
  color: #000;
  font-weight: 300;
}

/* line 77, ../sass/module/_beans.scss */
div.startingPrice {
  padding-left: 5px;
}

/* line 81, ../sass/module/_beans.scss */
.catCard img {
  border: 1px solid #dddddd;
  width: 100%;
}

/* line 85, ../sass/module/_beans.scss */
.catCard img:hover {
  border: 1px solid #bababa;
}

/* Button 
.......................................................................*/
/* line 91, ../sass/module/_beans.scss */
.beans-btn {
  cursor: pointer;
  font-family: "Pacifico", cursive;
  font-size: 16px !important;
  color: #ffffff;
  padding: 7px 0px !important;
  text-decoration: none !important;
  letter-spacing: 0 !important;
  background: #311b0e;
  border: none;
  border-bottom: solid 5px #5e4423;
  text-align: center;
  margin-top: 10px;
}

/* line 106, ../sass/module/_beans.scss */
.beans-btn:hover {
  background-color: #5e4423;
  border: none;
  border-bottom: solid 1px #000;
  box-shadow: 0 2px 3px #a8a8a8;
}

/* line 113, ../sass/module/_beans.scss */
.beans-btn a {
  color: #ffffff;
  padding: 7px 30px !important;
  text-decoration: none;
}

/* line 118, ../sass/module/_beans.scss */
.beans-btn a:hover {
  color: #ffffff;
}

/* line 121, ../sass/module/_beans.scss */
.beans-btn:hover {
  color: #fff;
}

/* line 1, ../sass/module/_footer.scss */
footer.nb-footer .footer-contain {
  padding-top: 20px;
}

/* line 4, ../sass/module/_footer.scss */
footer.nb-footer {
  background: #222;
  border-top: 4px solid #5e4423;
}

/* line 9, ../sass/module/_footer.scss */
footer.nb-footer .about {
  margin: 0 auto;
  max-width: 1170px;
}

/* line 14, ../sass/module/_footer.scss */
footer.nb-footer .about p {
  font-size: 13px;
  color: #fff;
  margin-top: 30px;
}

/* line 21, ../sass/module/_footer.scss */
footer.nb-footer .about .social-media ul li a {
  text-align: center;
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* line 34, ../sass/module/_footer.scss */
footer.nb-footer .about .social-media .list-inline .fb a:hover {
  color: #fff;
  background: #3b5998;
  border-color: #fff;
}

/* line 40, ../sass/module/_footer.scss */
footer.nb-footer .about .social-media .list-inline .tweet a:hover {
  color: #fff;
  background: #0084b4;
  border-color: #fff;
}

/* line 46, ../sass/module/_footer.scss */
footer.nb-footer .about .social-media .list-inline .gplus a:hover {
  color: #fff;
  background: #d34836;
  border-color: #fff;
}

/* line 52, ../sass/module/_footer.scss */
footer.nb-footer .about .social-media .list-inline .lin a:hover {
  color: #fff;
  background: #0077b5;
  border-color: #fff;
}

/* line 58, ../sass/module/_footer.scss */
footer.nb-footer .footer-info-single {
  margin-top: 30px;
}

/* line 62, ../sass/module/_footer.scss */
footer.nb-footer .footer-info-single .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  border-left: 4px solid #5e4423;
  padding-left: 5px;
}

/* line 70, ../sass/module/_footer.scss */
footer.nb-footer .footer-info-single ul li a {
  display: block;
  color: #fff;
  padding: 2px 0;
}

/* line 76, ../sass/module/_footer.scss */
footer.nb-footer .footer-info-single ul li a:hover {
  color: #5e4423;
}

/* line 80, ../sass/module/_footer.scss */
footer.nb-footer .footer-info-single p {
  font-size: 13px;
  line-height: 20px;
  color: #fff;
}

/* line 86, ../sass/module/_footer.scss */
footer.nb-footer .copyright {
  margin-top: 15px;
  border-top: 2px solid #c2a96f;
  background: #311b0e;
  padding: 7px 0;
  color: #fff;
}
/* line 92, ../sass/module/_footer.scss */
footer.nb-footer .copyright a {
  color: #fff;
}

/* line 97, ../sass/module/_footer.scss */
footer.nb-footer .copyright p {
  margin: 0;
  padding: 0;
}
