.beans{
  padding: $section-padding;
}

/* Hover Card 
.......................................................................*/
div.catCard {
  border: solid 2px $faded-primary;
  background: #d8d8d8;
  height: 400px;
  display: block;
  position: relative;
  overflow: hidden;
}
div.lowerCatCard {
  position: absolute; 
  background: white;
  height: 200px;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
  transition:         all 0.6s ease;
  h3,p{
    padding-left: 5px;
  }
}
div.lowerCatCard:hover {
  opacity: 0.95;
  bottom: 0;
  height: 395px;
}
div.catCard  div.lowerCatCard { 
  left: 0; 
  bottom: -3%;
}
div.catCard:hover div.lowerCatCard { 
  bottom: 0;
}
li.catCardList {
  list-style-type: none;
  display: block;
  margin-top: 25px;
}
li.catCardList-last {
  margin-right: 0;
  width:225px;
  display: inline-block;
}
ul.catCardList {
  padding: 10px;
}
#catCardButton {
  position: absolute;
  width: 100%;
  bottom: 5px;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
div.lowerCatCard:hover #catCardButton {
  bottom: 5px;
}
.startingPrice span {
  font-size: 16px;
  color: #c90c12;
  font-weight: 300;
}
div.startingPrice {
  margin-bottom: 5px;
  color: #000;
  font-weight: 300;
}
div.startingPrice{
  padding-left: 5px;
}

.catCard img {
  border: 1px solid #dddddd;
  width: 100%;
}
.catCard img:hover {
  border: 1px solid #bababa;
}

/* Button 
.......................................................................*/
.beans-btn {
  cursor: pointer;
  font-family: $primary-font;
  font-size: 16px !important;
  color: #ffffff;
  padding: 7px 0px !important;
  text-decoration: none !important;
  letter-spacing: 0 !important;
  background: $primary-color;
  border: none;
  border-bottom: solid 5px $secondary-color;
  text-align: center;
  margin-top: 10px;
}

.beans-btn:hover {
  background-color: $secondary-color;
  border: none;
  border-bottom: solid 1px #000;
  box-shadow: 0 2px 3px #a8a8a8;
}

.beans-btn a {
  color: #ffffff;
  padding: 7px 30px !important;
  text-decoration: none;
}
.beans-btn a:hover {
  color: #ffffff;
}
.beans-btn:hover {
  color: #fff;
}