footer.nb-footer .footer-contain{
    padding-top: 20px;
}
footer.nb-footer {
    background: #222;
    border-top: 4px solid $secondary-color;
}

footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center;
}

footer.nb-footer .about p {
    font-size: 13px;
    color: #fff;
    margin-top: 30px;
}

footer.nb-footer .about .social-media {
    margin-top: 15px;
}

footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

// footer.nb-footer .about .social-media ul li a:hover {
//     background: $secondary-color;
//     color: #fff;
//     border-color: $secondary-color;
// }

footer.nb-footer .about .social-media .list-inline .fb a:hover {
    color: #fff;
    background: #3b5998;
    border-color: #fff;
}

footer.nb-footer .about .social-media .list-inline .tweet a:hover {
    color: #fff;
    background: #0084b4;
    border-color: #fff;
}

footer.nb-footer .about .social-media .list-inline .gplus a:hover {
    color: #fff;
    background: #d34836;
    border-color: #fff;
}

footer.nb-footer .about .social-media .list-inline .lin a:hover {
    color: #fff;
    background: #0077b5;
    border-color: #fff;
}

footer.nb-footer .footer-info-single {
    margin-top: 30px;
}

footer.nb-footer .footer-info-single .title {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid $secondary-color;
    padding-left: 5px;
}

footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #fff;
    padding: 2px 0;
}

footer.nb-footer .footer-info-single ul li a:hover {
    color: $secondary-color;
}

footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #fff;
}

footer.nb-footer .copyright {
    margin-top: 15px;
    background: $primary-color;
    padding: 7px 0;
    color: #fff;
    a{
        color: #fff;
    }
}

footer.nb-footer .copyright p {
    margin: 0;
    padding: 0;
}