#hero1{
  background:url('../img/goodreading.jpg');
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.hero, .content{
  position:relative;
  width: 100%;
}

.inner{
  min-height:400px;
  position: relative;
}

.hero .inner{
  background: rgba(0,0,0,0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
  overflow: hidden;
}

.hero h3, .hero p{ 
  color:#fff;
}
.carousel{
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
}

.md--reading{

}

@media screen and (max-width: 1000px) {
  .md--reading{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 700px){
  .md--reading{
    font-size: 1.3em;
  }
}

@media screen and (max-width: 500px){
  .md--reading{
    font-size: 1.2em;
    line-height: 1.1em;
  }
}

@media screen and (max-width: 350px){
  .md--reading{
    font-size: 1em;
    line-height: 1em;
  }
}