.header-video {
  line-height: 0px;
  video {
    width: 100%;
  }
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0 !important;
  &-nav{
    .open{
      a:hover{
        background-color: $secondary-color !important;
        color: white !important;
      }
      a:focus{
        background-color: $secondary-color;
        color: white !important;
      }
    }
  }
  &-brand {
    font-family: $secondary-font;
    color: white !important;
  }
  &-inverse {
    background-color: $primary-color !important;
    li a {
      font-family: $secondary-font;
      color: white !important;
    }
  }
  .dropdown {
    &-menu{
      background-color: $primary-color !important;
      a{
        color: white !important;
      }
      a:hover{
        color: white !important;
        background-color: $secondary-color !important;
      }
    }
  }
  &-toggle{
    transition: 0.5s;
    &:hover{
      background-color: $secondary-color !important;
    }
    &:focus{
      background-color: $secondary-color !important; 
    }
    span{
      color: $primary-color !important;
    }
  }
}

.affix~.navfix-management {
  position: relative;
  top: 60px;
}